<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixpergram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link href="/stylesheets/landing.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pixpergram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="font-weight: 200;" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="font-weight: 200;" href="/posts">Experiences</a>
                </li>
                 {{#if currentUser}}
                    <li class="nav-item active">
                    <a class="nav-link" style="font-weight: 200;"  href="/user/{{currentUser.username}}">My Experiences</a>
                </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#unless currentUser}}
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 200;" href="/login">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 200;" href="/register">회원가입</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 200;" href="/user/{{currentUser.username}}">{{currentUser.username}}님</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: 200;" href="/logout">로그아웃</a>
                </li>
                {{/unless}}
            </ul>
        </div>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading">Pixpergram</div>
            <div class="masthead-subheading">Pixpergram은 소중한 경험을 공유하는 공간입니다.</div>
            {{!-- {{#if currentUser}}
            <div class="masthead-heading text-uppercase">{{currentUser.username}}님</div>
            {{else}}
            <div class="masthead-subheading text-uppercase">경험을 올리려면 로그인을 해야됩니다.</div>
            {{/if}} --}}
            {{!-- <div class="masthead-subheading">경험 보러가기</div> --}}
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/posts" style="border-radius: 12px;">여러 사람들의 경험을 느껴보세요</a>
        </div>
    </header>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html> 